.box_buttons {
    width: 100%;
    height: 90px;
    background: rgb(245, 245, 245);
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .box_buttons__login_button {
        background: rgb(0, 77, 86);
        color: white;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0%;
    }

    .box_buttons__registration_button {
        font-size: 22px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0%;
        background-color: rgba(240, 248, 255, 0);
    }
}