.box_buttons {
    width: 100%;
    height: 90px;
    background: rgb(245, 245, 245);
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .Link {
        appearance: none;
        text-decoration: none;

        .box_buttons__login_button {
            width: 100%;
            height: 100%;
            font-size: 24px;
            font-weight: 700;
            line-height: 29px;
            border: 0.1vw solid black;

            &:hover {
                border: 2px solid blueviolet;
            }

            &:active {
                transform: scale(0.98);
            }
        }

        .box_buttons__registration_button {
            width: 100%;
            height: 100%;
            font-size: 22px;
            font-weight: 700;
            line-height: 27px;
            border: 0.1vw solid rgb(0, 77, 86);

            &:hover {
                border: 2px solid blueviolet;
            }

            &:active {
                transform: scale(0.98);
            }
        }
    }
}


@media (width < 800px) {
    .box_buttons {
        height: 60px;
        background-color: rgba(240, 248, 255, 0);

        button {
            font-size: 14px !important;
        }
    }
}