.header {
    color: white;
    width: 100%;
    height: 150px;
    background-color: rgb(0, 53, 55);
    display: flex;
    justify-content: center;

    .header__box_main_content {
        width: 1214px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .box_main_content__divs_content {
            border: 0.1vw solid rgba(255, 255, 255, 0.261);
            height: 93.5px;
            display: grid;
            place-items: center;

            @mixin DivsContent($width, $direction, $JusCont) {
                width: $width;
                display: flex;
                flex-direction: $direction;
                border-left: none;
                align-items: center;
                justify-content: $JusCont;
            }

            &:nth-child(1) {
                width: 208px;
            }

            &:nth-child(2) {
                @include DivsContent(230px, row, center);

                div:nth-child(1) {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 29px;
                    margin-right: 5px;
                }

                div:nth-child(2) {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 15px;
                    opacity: 0.8;
                }
            }

            &:nth-child(3) {
                width: 516px;
                border-left: none;

                .divs_content__contacts_box {
                    width: 270px;
                    height: 50px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    div:nth-child(1) {
                        width: 100%;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 29px;
                        text-align: right;
                    }

                    @mixin AddressBoxes($width) {
                        width: $width;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 17px;
                        opacity: 0.8;
                    }

                    div:nth-child(2) {
                        @include AddressBoxes(95px);
                    }

                    div:nth-child(3) {
                        @include AddressBoxes(175px);
                    }
                }
            }

            &:nth-child(4) {
                @include DivsContent(134px, column, center);

                div {
                    position: relative;
                }

                div:after {
                    content: "";
                    position: absolute;
                    top: -5px;
                    right: -1px;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background-color: orange;
                    border: 0.1vw solid white;
                }

                p {
                    margin-top: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    opacity: 0.8;
                    text-align: center;
                }
            }

            &:nth-child(5) {
                @include DivsContent(123px, column, center);

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    opacity: 0.8;
                }
            }

            &:nth-child(6) {
                @include DivsContent(calc(100% - 3px), row, start);
                height: 57px;
                border-left: 0.1vw solid rgba(255, 255, 255, 0.261);
                border-top: none;

                div {
                    margin-left: 40px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 17px;
                    opacity: 0.8;
                }
            }

            &:nth-child(7) {
                display: none;
                place-items: center;

                div {
                    img {
                        margin-left: 5px;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

@media (width < 1200px) {
    .header {

        .header__box_main_content {
            width: 800px;

            .box_main_content__divs_content {

                &:nth-child(1) {
                    width: 170px;
                }

                &:nth-child(2) {
                    width: 150px;
                }

                &:nth-child(3) {
                    width: 200px;

                    .divs_content__contacts_box {
                        width: 100% !important;
                        height: 100% !important;
                        position: relative;

                        div {
                            width: 100% !important;
                            display: grid;
                            place-items: center;
                        }
                    }
                }

                &:nth-child(4) {
                    width: 139px;
                }

                &:nth-child(5) {
                    width: 139px;
                }

                &:nth-child(6) {
                    width: 800px;
                }
            }
        }
    }
}

@media (width < 800px) {
    .header {
        height: 77px;
        justify-content: center;

        .header__box_main_content {
            width: 390px;

            .box_main_content__divs_content {
                border: none !important;
                height: 100%;

                &:nth-child(1) {
                    width: 150px;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    width: 125px;

                    .divs_content__contacts_box {
                        display: grid;
                        place-items: center;
                        width: auto;
                        height: auto;

                        div:nth-child(1) {
                            display: grid;
                            place-items: center;
                            font-size: 16px;
                        }

                        div:nth-child(2) {
                            display: none;
                        }

                        div:nth-child(3) {
                            display: none;
                        }
                    }
                }

                &:nth-child(6) {
                    display: none;
                }

                &:nth-child(7) {
                    display: grid;
                }

                &:nth-child(5) {
                    justify-content: center;
                    align-items: center;
                    width: 35px;

                    p {
                        display: none;
                    }
                }

                &:nth-child(4) {
                    justify-content: center;
                    align-items: center;
                    width: 35px;

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}