.button {
    background: darkorange;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    &:hover{
        background-color: rgb(206, 113, 0);
    }
    &:active{
        background-color: rgba(206, 113, 0, 0.802);
    }
}