.section {
    width: 1214px;
    height: 100%;
}


@media (width < 1200px) {
    .section {
        width: 800px;

        div {
            button:nth-child(2) {
                border: 1px solid rgb(0, 77, 86);
            }
        }
    }
}

@media (width < 800px) {
    .section {
        width: 390px;
    }
}